* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family:'montserrat', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    position: relative;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position:fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    opacity: 0.7;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}



.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('./img/depan.jpg');
    background-size: cover;

}



.home-content {
   width: 100%;

}

.text-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    left: 100px;
    color: white;
}

.header {
    margin: 100px 0;
    height: 50%;
}
.header h1 {
    font-size: 8rem;
    border-bottom: 3px solid white;

}
.header p {
    margin-top: 10px;
    text-align: center;
    font-size: 2rem
}

.desc {


    height: 50%;
}

.desc p {
    font-size: 1.3rem;

}

.about {
    width: 100%;
    height: auto;
    padding-bottom: 150px;
    background-color: rgb(68, 43, 43);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-header {
    text-align: center;
    margin-top: 100px;
    color: white;
    width: 250px;
    padding-bottom: 40px;
}

.about-header h1 {
    border-bottom: 2.5px solid white;
    font-weight: lighter;
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: auto;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 30px 0 0 0;
}

.about-content p {
    padding: 70px 50px 20px;
    font-size: 1.2rem;
}

footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #332020;
    align-items: center;
}

.footer-header {
    text-align: center;
    margin-top: 20px;
    color: white;
    width: 17%;
    padding-bottom: 40px;
}

.footer-header h1 {
    border-bottom: 2.3px solid white;
    font-weight: lighter;
    font-size: 3rem;
}


.footer-content {
    display: flex;
    height: auto;
    align-self: flex-start;
    width: 100%;
}

.sosmed {
    width: 50%;

    
    
    padding: 0 0 20px 30px;
}

.sosmed p{
    font-size: 2rem;
    font-weight: lighter;
    color: white;
}

.telp {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 30px 20px 0;
}

.telp p {
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}



.maps-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.maps {
    display: flex;
    width: 70%;
    position: relative;
}

.maps-txt {
    display: flex;
    width: 30%;
    justify-content: center;
    color: white;

}

.maps-content .maps img{
    width: 100%;
}

.maps-content .maps-txt h1{
    font-weight:bolder;
    font-size: 3em;
    border-bottom: 3px solid white;
}

.pin-parkir-container {             /* Style Maps Parkiran*/
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;

    left: 26.2%;
    top: 31.9%;
}

.pin-parkir-img {
    width: 25%;
}

.pin-parkir-txt {
    font-size: small;
    font-weight: bolder;
}

.pin-embung-container {         /* Style Maps Embung Kembangan */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;
    
    left: 42%;
    top: 46%;
}

.pin-embung-img {
    width: 25%;
}

.pin-embung-txt {
    font-size: small;
    font-weight: bolder;
}

.pin-kelinci-container {         /* Style Maps Taman Kelinci */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;
    
    left: 67.36%;
    top: 56%;
}

.pin-kelinci-img {
    width: 25%;
}

.pin-kelinci-txt {
    font-size: small;
    font-weight: bolder;
}

.pin-merino-container {         /* Style Maps Kandang Merino */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;
    
    left: 75.3%;
    top: 65%;
}

.pin-merino-img {
    width: 25%;
    
}

.pin-merino-txt {
    font-size: small;
    font-weight: bolder;
}

.pin-bunga-container {         /* Style Maps Taman Bunga */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;
    
    left: 76.6%;
    top: 12%;
}

.pin-bunga-img {
    width: 25%;
}

.pin-bunga-txt {
    font-size: small;
    font-weight: bolder;
}

.pin-rusa-container {         /* Style Maps Kandang Rusa */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 19%;
    
    left: 79.7%;
    top: 28.9%;
}

.pin-rusa-img {
    width: 25%;
}

.pin-rusa-txt {
    text-align: center;
    font-size: small;
    font-weight: bolder;
}

.pin-unggas-container {         /* Style Maps Kandang Rusa */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;
    
    left: 59%;
    top: 13%;
}

.pin-unggas-img {
    width: 25%;
}

.pin-unggas-txt {
    text-align: center;
    font-size: small;
    font-weight: bolder;
}

.pin-pasar-container {         /* Style Maps PASAR NDELIK */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;
    
    left: 50%;
    top: 30%;
}

.pin-pasar-img {
    width: 25%;
}

.pin-pasar-txt {
    text-align: center;
    font-size: small;
    font-weight: bolder;
}

.pin-kaktus-container {         /* Style Maps TAMAN KAKTUS */
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    width: 15%;
    
    left: 70%;
    top: 72%;
}

.pin-kaktus-img {
    width: 25%;
}

.pin-kaktus-txt {
    text-align: center;
    font-size: small;
    font-weight: bolder;
}


/* HIDDEN CONTENT -- HIDDEN CONTENT -- HIDDEN CONTENT -- HIDDEN CONTENT */



.parkir-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
    color: black;
    z-index: 1;
}

.btn-close {
    background-color: transparent;
    border: 0;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 50%;
    
    padding: 0 12px;

}

.btn-close a {
    text-decoration: none;
    color: black;
}

.btn-close:hover {
    background-color: lightgray;
    opacity: 0.7;
    transition: all ease-in 0.2s;
}

.hidden-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
}

.hidden-header {
    padding: 20px 0;
}

.hidden-content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 25%;
    padding: 3px;
    
}

.hidden-content img {
    width: 100%;
    padding: 3px;
    border-radius: 10px;
}

.parkir-hidden:target {
    display: flex;
    top: 15%;
}


/* Hidden Embung Kembangan */
.embung-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 10px;
    padding-bottom: 30px;
    color: white;
}

.embung-hidden:target {
    display: flex;
    top: 15%;
}


/* HIDDEN TAMAN KELINCI */
.kelinci-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
}

.kelinci-hidden:target {
    display: flex;
    top: 15%;
}



/* HIDDEN KANDANG MERINO */
.merino-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
}

.merino-hidden:target {
    display: flex;
    top: 15%;
}


/* HIDDEN TAMAN BUNGA */
.bunga-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
}

.bunga-hidden .hidden-content {
    display: flex;
    width: 75%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.bunga-hidden .hidden-content .renov{
    position: absolute;
    background-color: red;
    color: white;
    text-align: center;
    transform: rotate(28deg);
    width: 105%;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
}

.bunga-hidden:target {
    display: flex;
    top: 15%;
}


/* HIDDEN TAMAN RUSA */
.rusa-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
}

.rusa-hidden:target {
    display: flex;
    top: 15%;
}


/* HIDDEN TAMAN UNGGAS */
.unggas-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
}

.unggas-hidden:target {
    display: flex;
    top: 15%;
}

/* HIDDEN PASAR NDELIK */
.pasar-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
}

.pasar-hidden:target {
    display: flex;
    top: 15%;
}

/* HIDDEN TAMAN KAKTUS */
.kaktus-hidden {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 110px 60px #b6acac;
    padding-bottom: 30px;
}

.kaktus-hidden:target {
    display: flex;
    top: 15%;
}